menu "Remoteproc drivers (EXPERIMENTAL)"

# REMOTEPROC gets selected by whoever wants it
config REMOTEPROC
	tristate
	depends on EXPERIMENTAL
	depends on HAS_DMA
	select FW_CONFIG
	select VIRTIO

endmenu
